{% if products %}
<div id="product-grid" class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 md:gap-6 md:px-1"
  data-aos="fade-up">
  {% for product in products %}
  <div class="group relative">
    <a href="{{ product.get_url }}">
      <div class="relative">
        <img src="{{ product.images.url }}" alt="{{ product.product_name }}"
          class="block w-full h-auto transition-opacity duration-300 group-hover:opacity-0" loading="lazy" width="300"
          height="400" />

        {% if product.secondary_image %}
        <img src="{{ product.secondary_image.url }}" alt="{{ product.product_name }}"
          class="absolute inset-0 w-full h-auto opacity-0 transition-opacity duration-300 group-hover:opacity-100"
          loading="lazy" width="300" height="400" />
        {% endif %}

        <div class="absolute top-0 right-0 p-2 text-black font-bold">
          <form action="{% url 'add_wishlist' product.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000"
                id="Heart-Straight-Thin--Streamline-Phosphor-Thin" height="24" width="24">
                <desc>Heart Straight Thin Streamline Icon: https://streamlinehq.com</desc>
                <path
                  d="M14.6916125 2.4706625c-1.53091875 -1.5258 -4.00760625 -1.5258 -5.53853125 0l-1.1518375 1.06836875 -1.1518375 -1.072C4.71483125 0.33469375 1.07239375 1.312725 0.29301875 4.22749375c-0.36170625 1.35275 0.02574375 2.79570625 1.01640625 3.78533125L7.79439375 14.592875c0.113725 0.11548125 0.299975 0.11548125 0.4137 0l6.48351875 -6.5786c1.53118125 -1.53068125 1.53118125 -4.01293125 0 -5.5436125Zm-0.411525 5.13426875L8.00124375 13.975225 1.72095 7.60348125C-0.09655625 5.785975 0.73500625 2.682525 3.21776875 2.017275c1.15225 -0.30875 2.3816875 0.02068125 3.22519375 0.8641875l0.0072625 0.00725625 1.352875 1.25998125c0.11155625 0.10416875 0.28473125 0.10416875 0.3962875 0l1.35288125 -1.25998125 0.00725625 -0.00725625c1.7806375 -1.85330625 4.89979375 -1.08401875 5.61448125 1.38470625 0.3454 1.1931 -0.0000875 2.4793125 -0.89681875 3.3387625Z"
                  stroke-width="0.0625"></path>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </a>
    <div class="mt-1">
      <a href="{{ product.get_url }}">
        <h3 class="text-sm font-semibold text-gray-900 hover:text-gray-600 line-clamp-custom">
          {{ product.product_name }}
        </h3>
      </a>
      <div>
        <span class="text-gray-900 font-bold">
          ₹{{ product.price }}
        </span>
        <span class="text-red-500 font-bold line-through">
          ₹{{ product.before_discount_price }}
        </span>
      </div>

      <p class="my-1">
        {% for size in product.get_sizes %}
        <span class="text-gray-800 bg-gray-100 p-1 text-xs">{{ size|upper }}</span>
        {% endfor %}
      </p>

      <!-- Stock Availability -->
      <p class="text-sm {% if product.stock > 0 %}text-green-600{% else %}text-red-600{% endif %}">
        {% if product.stock > 0 %}
        Stock Remaining ({{ product.stock }})
        {% else %}
        Out of Stock
        {% endif %}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
{% include 'store/includes/404.html' %}
{% endif %}


<script>
  let page = 2; // Start from page 2 (since page 1 is already loaded)
  let isLoading = false;
  let categorySlug = "{{ category_slug }}";  // Pass the category_slug from the template
  let keyword = "{{ keyword }}";  // Pass the keyword from the template

  window.addEventListener('scroll', () => {
    const { scrollTop, scrollHeight, clientHeight } = document.documentElement;
    if (scrollTop + clientHeight >= scrollHeight - 1000 && !isLoading) {
      loadMoreProducts();
    }
  });

  function loadMoreProducts() {
    isLoading = true;
    // document.getElementById('loading-spinner').style.display = 'block';

    let url = `?page=${page}`;
    if (categorySlug) {
      url += `&category_slug=${categorySlug}`;
    }
    if (keyword) {
      url += `&keyword=${keyword}`;
    }

    fetch(url, {
      headers: {
        'X-Requested-With': 'XMLHttpRequest',
      },
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.products.length > 0) {
          const productGrid = document.getElementById('product-grid');
          data.products.forEach((product) => {
            const productHtml = `
                        <div class="group relative" data-aos="fade-up">
                            <a href="${product.url}">
                                <div>
                                    <img src="${product.image}" alt="${product.name}"
                                        class="block w-full h-auto transition-opacity duration-300 group-hover:opacity-0">
                                    ${product.secondary_image ? `
                                        <img src="${product.secondary_image}" alt="${product.name}"
                                            class="absolute inset-0 w-full h-auto opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                    ` : ''}
                                </div>
                            </a>
                            <div class="mt-1">
                                <a href="${product.url}">
                                    <h3 class="text-lg font-semibold text-gray-900 hover:text-gray-600 line-clamp-custom">
                                        ${product.name}
                                    </h3>
                                </a>
                                <div>
                                    <span class="text-gray-900 font-bold">
                                        ₹${product.price}
                                    </span>
                                    ${product.before_discount_price ? `
                                        <span class="text-red-500 font-bold line-through">
                                            ₹${product.before_discount_price}
                                        </span>
                                    ` : ''}
                                </div>
                                <p class="my-1">
                                    ${product.sizes ? product.sizes.map(size => `
                                        <span class="text-gray-800 bg-gray-100 p-1 text-xs">${size.toUpperCase()}</span>
                                    `).join('') : ''}
                                </p>                
                                <p class="text-sm ${product.stock > 0 ? 'text-green-600' : 'text-red-600'}">
                                    ${product.stock > 0 ? `Stock Remaining (${product.stock})` : 'Out of Stock'}
                                </p>
                            </div>
                        </div>
                    `;
            productGrid.insertAdjacentHTML('beforeend', productHtml);
          });
          page++;
        }
        if (!data.has_next) {
          // No more products to load
          window.removeEventListener('scroll', loadMoreProducts);
        }
      })
      .finally(() => {
        isLoading = false;
        document.getElementById('loading-spinner').style.display = 'none';
      });
  }
</script>