<div class="lg:hidden fixed left-0 w-full bg-white z-50" style="bottom: 65px;">
    <div class="flex justify-around p-2">
        <a href="/accounts/"
            class="text-center text-xs p-2 {% if request.path == '/accounts/' %}text-black font-bold{% else %}text-gray-600{% endif %}">DASHBOARD</a>
        <a href="/wishlist/"
            class="text-center text-xs p-2 {% if request.path == '/wishlist/' %}text-black font-bold{% else %}text-gray-600{% endif %}">WISHLIST</a>
        <a href="/accounts/my-orders/"
            class="text-center text-xs p-2 {% if request.path == '/accounts/my-orders/' %}text-black font-bold{% else %}text-gray-600{% endif %}">ORDERS</a>
        <a href="/accounts/edit_profile/"
            class="text-center text-xs p-2 {% if request.path == '/accounts/edit_profile/' %}text-black font-bold{% else %}text-gray-600{% endif %}">PROFILE</a>
        <a href="/accounts/my-wallet/"
            class="text-center text-xs p-2 {% if request.path == '/accounts/my-wallet/' %}text-black font-bold{% else %}text-gray-600{% endif %}">WALLET</a>

    </div>
</div>