<div class="flex justify-center py-2">
    <div>
        <h1 class="flex justify-center font-extrabold">
            FEATURED CATEGORIES
        </h1>
        <div class="grid grid-cols-3 sm:grid-cols-3 lg:grid-cols-6 gap-1 py-4 md:px-1">
            {% for feature in features %}
            <div>
                <a href="/store/?keyword={{ feature.name }}" title="/store/?keyword={{ feature.name }}" class="relative group block"
                    aria-label="{{ feature.url }}">
                    <figure class="overflow-hidden relative">
                        {% if feature.image %}
                        <div class="relative">
                            <img src="{{ feature.image.url }}" alt="{{ feature.name }}"
                                class="w-full h-auto transition-transform duration-300 group-hover:scale-100"
                                loading="lazy" width="300" height="200" />
                            <span class="absolute bottom-0 left-0 right-0 flex justify-center py-1 font-semibold text-xs bg-black bg-opacity-70 text-center text-white">
                                {{feature.name|upper}}
                            </span>
                        </div>
                        {% else %}
                        <div class="w-full h-40 bg-gray-200 shadow-md flex items-center justify-center relative">
                            <span class="absolute bottom-0 left-0 right-0 flex justify-center py-1 font-semibold text-xs bg-black bg-opacity-70 text-white">
                                {{feature.name|upper}}
                            </span>
                            <span class="text-gray-500">No Image</span>
                        </div>
                        {% endif %}
                    </figure>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>