<div class="flex justify-center py-6">
    <div>
        <h1 class="flex justify-center font-extrabold">
            FEATURED CATEGORIES
        </h1>
        <div class="grid grid-cols-3 sm:grid-cols-3 lg:grid-cols-6 gap-1 md:gap-6 py-4 md:px-1">
            {% for feature in features %}
            <div>
                <a href="{{ feature.url }}" title="{{ feature.url }}" class="relative group block"
                    aria-label="{{ feature.url }}">
                    <figure class="overflow-hidden shadow-md relative">
                        {% if feature.image %}
                        <img src="{{ feature.image.url }}" alt="{{ feature.url }}"
                            class="w-full h-auto shadow-md transition-transform duration-300 group-hover:scale-125 group-hover:shadow-xl"
                            loading="lazy" width="300" height="200" />
                        {% else %}
                        <div class="w-full h-40 bg-gray-200 shadow-md flex items-center justify-center">
                            <span class="text-gray-500">No Image</span>
                        </div>
                        {% endif %}
                    </figure>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>