<div class="fixed bottom-0 left-0 right-0 bg-white shadow-xl border md:hidden z-50">
    <div class="flex justify-around items-center p-2">
        <!-- Home -->
        <a href="/" class="flex flex-col items-center text-gray-700 py-2 hover:text-gray-500">
            <i data-feather="home"></i>
        </a>

        <!-- Search -->
        <a href="/store/search/" class="flex flex-col items-center text-gray-700 py-2 hover:text-gray-500">
            <i data-feather="search"></i>
        </a>

        <!-- Store -->
        <a href="/store/" class="flex flex-col items-center text-gray-700 py-2 hover:text-gray-500">
            <i data-feather="shopping-bag"></i>
        </a>

        <!-- Cart -->
        <a href="/cart/" class="flex flex-col items-center text-gray-700 py-2 hover:text-gray-500">
            <i data-feather="shopping-cart"></i>
        </a>

        <!-- Profile -->
        <a href="/accounts/" class="flex flex-col items-center text-gray-700 py-2 hover:text-gray-500">
            <i data-feather="user"></i>
        </a>
    </div>
</div>
