{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% if head.favicon %}
<link rel="icon" href="{{ head.favicon.url }}" type="image/x-icon">
{% endif %}

<title>{{ head.site_title }}</title>
<meta name="title" content="{{ head.meta_title }}">
<meta name="description" content="{{ head.meta_description }}">
<meta name="keywords" content="{{ head.meta_keywords }}">
{% endblock meta %}

{% block content %}
{% include 'includes/navbar.html' %}
{% include 'includes/home/notification.html' %}
{% include 'includes/home/slider.html' %}
{% include 'includes/home/featured-categories.html' %}
{% include 'includes/bottomnav.html' %}

<main class="container mx-auto md:px-2">
  <h1 class="flex justify-center font-extrabold pb-4">
    NEW AND POPULAR
  </h1>
  {% include 'includes/home-sections.html' %}
  <section data-aos="fade-right">
    <a href="{{settings.main_page_image_url}}">
      <img src="{{ settings.main_page_image.url }}" alt="{{ settings.site_name }} Main Page Image" loading="lazy"
        width="1200" height="600" class="w-full h-auto" />
    </a>
  </section>

  {% if recently_stalked %}
  <section class="pb-5">
    <div class="container mx-auto">
      <h1 class="flex justify-center font-extrabold my-6">
        RECENTLY STALKED
      </h1>
      <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-1 md:px-1">
        {% for product in recently_stalked %}
        <div class="group relative" data-aos="fade-right">
          <a href="{{ product.product.get_url }}" aria-label="{{ product.product.product_name }}">
            <div class="relative">
              <img src="{{ product.product.images.url }}" alt="{{ product.product.product_name }}"
                class="block w-full h-auto transition-opacity duration-300 group-hover:opacity-0" loading="lazy"
                width="300" height="400" />

              {% if product.product.secondary_image %}
              <img src="{{ product.product.secondary_image.url }}" alt="{{ product.product.product_name }}"
                class="absolute inset-0 w-full h-auto opacity-0 transition-opacity duration-300 group-hover:opacity-100"
                loading="lazy" width="300" height="400" />
              {% endif %}

              <div class="absolute top-0 right-0 p-2 text-black font-bold">
                <form action="{% url 'add_wishlist' product.product.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000"
                      id="Heart-Straight-Thin--Streamline-Phosphor-Thin" height="24" width="24">
                      <desc>Heart Straight Thin Streamline Icon: https://streamlinehq.com</desc>
                      <path
                        d="M14.6916125 2.4706625c-1.53091875 -1.5258 -4.00760625 -1.5258 -5.53853125 0l-1.1518375 1.06836875 -1.1518375 -1.072C4.71483125 0.33469375 1.07239375 1.312725 0.29301875 4.22749375c-0.36170625 1.35275 0.02574375 2.79570625 1.01640625 3.78533125L7.79439375 14.592875c0.113725 0.11548125 0.299975 0.11548125 0.4137 0l6.48351875 -6.5786c1.53118125 -1.53068125 1.53118125 -4.01293125 0 -5.5436125Zm-0.411525 5.13426875L8.00124375 13.975225 1.72095 7.60348125C-0.09655625 5.785975 0.73500625 2.682525 3.21776875 2.017275c1.15225 -0.30875 2.3816875 0.02068125 3.22519375 0.8641875l0.0072625 0.00725625 1.352875 1.25998125c0.11155625 0.10416875 0.28473125 0.10416875 0.3962875 0l1.35288125 -1.25998125 0.00725625 -0.00725625c1.7806375 -1.85330625 4.89979375 -1.08401875 5.61448125 1.38470625 0.3454 1.1931 -0.0000875 2.4793125 -0.89681875 3.3387625Z"
                        stroke-width="0.0625"></path>
                    </svg>
                  </button>
                </form>
              </div>
            </div>
          </a>
          <div class="mt-1">
            <a href="{{ product.product.get_url }}" aria-label="{{ product.product.product_name }}">
              <h3 class="text-lg font-semibold text-gray-900 hover:text-gray-600 line-clamp-custom">
                {{ product.product.product_name }}
              </h3>
            </a>
            <div>
              <span class="text-gray-900 font-bold">
                ₹{{ product.product.price }}
              </span>
              <span class="text-red-500 font-bold line-through">
                ₹{{ product.product.before_discount_price }}
              </span>
            </div>

            <!-- Sizes -->
            <p class="my-1">
              {% for size in product.product.get_sizes %}
              <span class="text-gray-800 bg-gray-100 p-1 text-xs">{{ size|upper }}</span>
              {% endfor %}
            </p>

            <!-- Stock Availability -->
            <p class="text-sm {% if product.product.stock > 0 %}text-green-600{% else %}text-red-600{% endif %}">
              {% if product.product.stock > 0 %}
              Stock Remaining ({{ product.product.stock }})
              {% else %}
              Out of Stock
              {% endif %}
            </p>
          </div>
        </div>
        {% empty %}
        <p class="col-span-full text-center">No products available in this section.</p>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  <section class="my-8" data-aos="fade-right">
    <h1 class="flex justify-center font-extrabold text-xl mb-4">CATEGORIES</h1>
    <div>
      <div class="flex gap-4 px-4 py-2 overflow-x-auto whitespace-nowrap scrollbar-hide">
        {% for category in categories %}
        <div data-aos="fade-right" class="flex-shrink-0 w-48">
          <a href="{{ category.get_url }}" title="{{ category.category_name }}" class="relative group block"
            aria-label="{{ category.category_name }}">
            <figure class="overflow-hidden shadow-md relative aspect-[4/3]">
              {% if category.cat_image %}
              <div class="relative h-full">
                <img src="{{ category.cat_image.url }}" alt="{{ category.category_name }}"
                  class="block w-full h-auto transition-opacity duration-300" loading="lazy" width="300" height="400" />
                <span
                  class="absolute bottom-0 left-0 right-0 flex justify-center py-2 px-2 font-semibold text-sm bg-black bg-opacity-70 text-white truncate">
                  {{ category.category_name|upper }}
                </span>
              </div>
              {% else %}
              <div class="w-full h-full bg-gray-200 shadow-md flex items-center justify-center relative">
                <span
                  class="absolute bottom-0 left-0 right-0 flex justify-center py-2 px-2 font-semibold text-sm bg-black bg-opacity-70 text-white truncate">
                  {{ category.category_name|upper }}
                </span>
                <span class="text-gray-500">No Image</span>
              </div>
              {% endif %}
            </figure>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% include 'includes/home/timer.html' %}

  <!-- ========================= SECTION POPULAR PRODUCTS ========================= -->
  <section class="py-8">
    <div class="container mx-auto md:px-4">
      <header class="flex justify-between items-center mb-2">
        <h3 class="text-2xl font-bold px-2">Popular Products</h3>
      </header>

      <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-1 md:px-1">
        {% for product in products %}
        <div class="group relative" data-aos="fade-right">
          <a href="{{ product.get_url }}" aria-label="{{ product.product_name }}">
            <div class="relative">
              <img src="{{ product.images.url }}" alt="{{ product.product_name }}"
                class="block w-full h-auto transition-opacity duration-300 group-hover:opacity-0" loading="lazy"
                width="300" height="400" />

              {% if product.secondary_image %}
              <img src="{{ product.secondary_image.url }}" alt="{{ product.product_name }}"
                class="absolute inset-0 w-full h-auto opacity-0 transition-opacity duration-300 group-hover:opacity-100"
                loading="lazy" width="300" height="400" />
              {% endif %}

              <div class="absolute top-0 right-0 p-2 text-black font-bold">
                <form action="{% url 'add_wishlist' product.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000"
                      id="Heart-Straight-Thin--Streamline-Phosphor-Thin" height="24" width="24">
                      <desc>Heart Straight Thin Streamline Icon: https://streamlinehq.com</desc>
                      <path
                        d="M14.6916125 2.4706625c-1.53091875 -1.5258 -4.00760625 -1.5258 -5.53853125 0l-1.1518375 1.06836875 -1.1518375 -1.072C4.71483125 0.33469375 1.07239375 1.312725 0.29301875 4.22749375c-0.36170625 1.35275 0.02574375 2.79570625 1.01640625 3.78533125L7.79439375 14.592875c0.113725 0.11548125 0.299975 0.11548125 0.4137 0l6.48351875 -6.5786c1.53118125 -1.53068125 1.53118125 -4.01293125 0 -5.5436125Zm-0.411525 5.13426875L8.00124375 13.975225 1.72095 7.60348125C-0.09655625 5.785975 0.73500625 2.682525 3.21776875 2.017275c1.15225 -0.30875 2.3816875 0.02068125 3.22519375 0.8641875l0.0072625 0.00725625 1.352875 1.25998125c0.11155625 0.10416875 0.28473125 0.10416875 0.3962875 0l1.35288125 -1.25998125 0.00725625 -0.00725625c1.7806375 -1.85330625 4.89979375 -1.08401875 5.61448125 1.38470625 0.3454 1.1931 -0.0000875 2.4793125 -0.89681875 3.3387625Z"
                        stroke-width="0.0625"></path>
                    </svg>
                  </button>
                </form>
              </div>
            </div>
          </a>
          <div class="mt-1">
            <a href="{{ product.get_url }}" aria-label="{{ product.product_name }}">
              <h3 class="text-sm font-semibold text-gray-900 hover:text-gray-600 line-clamp-custom">
                {{ product.product_name }}
              </h3>
            </a>
            <div>
              <span class="text-gray-900 font-bold">
                ₹{{ product.price }}
              </span>
              <span class="text-red-500 font-bold line-through">
                ₹{{ product.before_discount_price }}
              </span>
            </div>

            <!-- Sizes -->
            <p class="my-1">
              {% for size in product.get_sizes %}
              <span class="text-gray-800 bg-gray-100 p-1 text-xs">{{ size|upper }}</span>
              {% endfor %}
            </p>

            <!-- Stock Availability -->
            <p class="text-sm {% if product.stock > 0 %}text-green-600{% else %}text-red-600{% endif %}">
              {% if product.stock > 0 %}
              Stock Remaining ({{ product.stock }})
              {% else %}
              Out of Stock
              {% endif %}
            </p>
          </div>
        </div>
        {% empty %}
        <p class="col-span-full text-center">No products available in this section.</p>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- ========================= SECTION POPULAR PRODUCTS END// ========================= -->

</main>
<script>
  function showSection(sectionId) {
    // Hide all product sections
    document.querySelectorAll('.product-section').forEach(section => {
      section.classList.add('hidden');
    });

    // Show the selected section
    document.getElementById('section-' + sectionId).classList.remove('hidden');

    // Reset all buttons to default (white background)
    document.querySelectorAll('.category-btn').forEach(button => {
      button.classList.remove('bg-black', 'text-white');
      button.classList.add('bg-white', 'text-black', 'border-gray-400');
    });

    // Set the active button to black background
    document.querySelector(`button[data-section="${sectionId}"]`).classList.remove('bg-white', 'text-black');
    document.querySelector(`button[data-section="${sectionId}"]`).classList.add('bg-black', 'text-white');
  }

  // Set the first button as active by default on page load
  document.addEventListener("DOMContentLoaded", function () {
    let firstButton = document.querySelector('.category-btn');
    if (firstButton) {
      firstButton.classList.add('bg-black', 'text-white');
    }
  });
</script>

<script>
  // count-down timer
  let dest = new Date("{{settings.main_page_timer}}").getTime();
  let x = setInterval(function () {
    let now = new Date().getTime();
    let diff = dest - now;
    // Check if the countdown has reached zero or negative
    if (diff <= 0) {
      // Set the destination date to the same day next month
      let nextMonthDate = new Date();
      nextMonthDate.setMonth(nextMonthDate.getMonth() + 1);

      // If the current month is December, set the destination date to the same day next year
      if (nextMonthDate.getMonth() === 0) {
        nextMonthDate.setFullYear(nextMonthDate.getFullYear() + 1);
      }

      dest = nextMonthDate.getTime();
      return; // Exit the function
    }

    let days = Math.floor(diff / (1000 * 60 * 60 * 24));
    let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
    let seconds = Math.floor((diff % (1000 * 60)) / 1000);

    if (days < 10) {
      days = `0${days}`;
    }

    if (hours < 10) {
      hours = `0${hours}`;
    }
    if (minutes < 10) {
      minutes = `0${minutes}`;
    }
    if (seconds < 10) {
      seconds = `0${seconds}`;
    }

    // Get elements by class name
    let countdownElements = document.getElementsByClassName("countdown-element");

    // Loop through the elements and update their content
    for (let i = 0; i < countdownElements.length; i++) {
      let className = countdownElements[i].classList[1]; // Get the second class name
      switch (className) {
        case "days":
          countdownElements[i].innerHTML = days;
          break;
        case "hours":
          countdownElements[i].innerHTML = hours;
          break;
        case "minutes":
          countdownElements[i].innerHTML = minutes;
          break;
        case "seconds":
          countdownElements[i].innerHTML = seconds;
          break;
        default:
          break;
      }
    }
  }, 10);
</script>
{% include 'includes/footer.html' %}

{% endblock %}