{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.meta_description }}">
<meta name="keywords" content="{{ page.meta_keywords }}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ request.build_absolute_uri }}">
<!-- Open Graph -->
<meta property="og:title" content="{{ page.og_title }}">
<meta property="og:description" content="{{ page.og_description }}">
<meta property="og:image" content="{{settings.logo.url}}">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.meta_description }}">
<meta name="twitter:image" content="{{settings.logo.url}}">

<!-- Structured Data -->
<script type="application/ld+json">
    {{ page.structured_data|safe }}
</script>
{% if page.links %}
{{page.links|safe}}
{% endif %}
{% endblock meta %}

{% block content %}
{% include 'includes/navbar.html' %}
<main class="container mx-auto md:px-2 py-8">

    <section class="my-14 w-full max-w-screen-xl mx-auto px-6">
        <div class="prose prose-lg mx-auto w-full text-center">
            {{ page.content|safe }}
        </div>
    </section>
</main>
{% endblock content %}