{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.meta_description }}">
<meta name="keywords" content="{{ page.meta_keywords }}">
<meta name="robots"
    content="{% if page.robots_index %}index{% else %}noindex{% endif %}, {% if page.robots_follow %}follow{% else %}nofollow{% endif %}">
<link rel="canonical" href="{{ page.canonical_url }}">

<!-- Open Graph -->
<meta property="og:title" content="{{ page.og_title }}">
<meta property="og:description" content="{{ page.og_description }}">
<meta property="og:image" content="{{ page.og_image }}">

<!-- Twitter Card -->
<meta name="twitter:card" content="{{ page.twitter_card }}">
<meta name="twitter:title" content="{{ page.twitter_title }}">
<meta name="twitter:description" content="{{ page.twitter_description }}">
<meta name="twitter:image" content="{{ page.twitter_image }}">

<!-- Structured Data -->
<script type="application/ld+json">
    {{ page.structured_data|safe }}
</script>
{% endblock meta %}

{% block content %}
{% include 'includes/navbar.html' %}
<main class="container mx-auto md:px-2 py-8">

    <section class="my-14 w-full max-w-screen-xl mx-auto px-6">
        <div class="prose prose-lg mx-auto w-full text-center">
            {{ page.content|safe }}
        </div>
    </section>
</main>
{% endblock content %}