{% extends 'base.html' %}
{% load static %}
{% block meta %}
    {% if head.favicon %}
    <link rel="icon" href="{{ head.favicon.url }}" type="image/x-icon">
    {% endif %}
{% endblock meta %}

{% block content %}
{% include 'includes/navbar.html' %}
{% include 'includes/bottomnav.html' %}
<main class="mx-auto md:px-2 py-1">
  <section class="md:my-16">
    <br><br>
    <div class="mx-auto md:px-36">
      <!-- ============================ COMPONENT 1 ================================= -->
      <div class="flex flex-col lg:flex-row gap-8">
        <!-- Billing Address -->
        <div class="lg:w-3/4">
          <div class="md:border overflow-hidden">
            <div class="px-6 py-4">
              <h1 class="font-extrabold mb-4">
                BILLING ADDRESS
              </h1>
              <form action="{% url 'place_order' %}" method="POST" id="place-order">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <div>
                    <label class="block text-gray-700 font-semibold mb-2 text-xs">First Name</label>
                    <input type="text" name="first_name" value="{{request.user.first_name}}"
                      class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black"
                      required>
                  </div>
                  <div>
                    <label class="block text-gray-700 font-semibold mb-2 text-xs">Last Name</label>
                    <input type="text" name="last_name" value="{{request.user.last_name}}"
                      class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black"
                      required>
                  </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                  <div>
                    <label class="block text-gray-700 font-semibold mb-2 text-xs">Email</label>
                    <input type="email" name="email" value="{{request.user.email}}"
                      class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black"
                      required>
                  </div>
                  <div>
                    <label class="block text-gray-700 font-semibold mb-2 text-xs">Phone Number</label>
                    <input type="text" name="phone" value="{{request.user.phone_number}}"
                      class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black"
                      required>
                  </div>
                </div>

                <div class="mt-4">
                  <label class="block text-gray-700 font-semibold mb-2 text-xs">Address Line 1</label>
                  <input type="text" name="address_line_1" value="{{request.user.address_line_1}}"
                    class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black"
                    required>
                </div>

                <div class="mt-4">
                  <label class="block text-gray-700 font-semibold mb-2 text-xs">Address Line 2</label>
                  <input type="text" name="address_line_2" value="{{request.user.address_line_2}}"
                    class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black">
                </div>

                <div class="grid grid-cols-1 md:grid-cols-4 gap-2 mt-4">
                  <div>
                    <label class="block text-gray-700 font-semibold mb-2 text-xs">City</label>
                    <input type="text" name="city" value="{{request.user.city}}"
                      class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black"
                      required>
                  </div>
                  <div>
                    <label class="block text-gray-700 font-semibold mb-2 text-xs">State</label>
                    <input type="text" name="state" value="{{request.user.state}}"
                      class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black"
                      required>
                  </div>
                  <div>
                    <label class="block text-gray-700 font-semibold mb-2 text-xs">Country</label>
                    <input type="text" name="country" value="{{request.user.country}}"
                      class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black"
                      required>
                  </div>
                  <div>
                    <label class="block text-gray-700 font-semibold mb-2 text-xs">Zip Code</label>
                    <input type="text" name="zip_code" value="{{request.user.zip_code}}"
                      class="w-full px-4 py-1 border focus:outline-none focus:ring-1 focus:ring-black"
                      required>
                  </div>
                </div>

                <div class="fixed left-0 w-full bg-white py-1 px-2 shadow-lg md:hidden z-50" style="bottom: 65px;">
                  <button type="submit" class="w-full bg-black text-white px-6 py-3 hover:bg-gray-900">
                    <div class="flex justify-center items-center space-x-4">
                      <p class="font-semibold">PLACE ORDER</p>
                    </div>
                  </button>
                </div>
                <div class="mt-4">
                  <label class="block text-gray-700 font-semibold mb-2 text-xs">Order Note</label>
                  <textarea name="order_note" rows="2"
                    class="w-full px-4 py-2 border focus:outline-none focus:ring-1 focus:ring-black"></textarea>
                </div>
            </div>
          </div>
        </div>

        <!-- Order Summary -->
        <div class="lg:w-1/4">
          <div class="w-full text-black py-2 my-2 text-xs bg-white border text-center hidden md:block">
            <a href="{% url 'store' %}" class="block w-full text-xs flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="mr-8" fill="none" viewBox="-0.5 -0.5 16 16"
                id="Alt-Arrow-Left--Streamline-Solar" height="18" width="18">
                <desc>Alt Arrow Left Streamline Icon: https://streamlinehq.com</desc>
                <g id="Line Duotone/Arrows/Alt Arrow Left">
                  <!-- White border effect (stroked twice) -->
                  <path id="Vector-border" stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    d="m9.375 3.125 -3.75 4.375 3.75 4.375" stroke-width="2"></path>
                  <!-- Original arrow (on top) -->
                  <path id="Vector" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                    d="m9.375 3.125 -3.75 4.375 3.75 4.375" stroke-width="1"></path>
                </g>
              </svg>
              CONTINUE SHOPPING
            </a>
          </div>
          <p class="py-5 text-gray-400 text-sm">BILLING DETAILS</p>
          <div>
            <div class="flex justify-between border p-2">
              <div class="text-gray-500 text-sm">Cart Total</div>
              <div class="text-gray-800 font-semibold text-sm">₹{{ total }}</div>
            </div>
            <div class="flex justify-between border p-2">
              <div class="text-gray-500 text-sm">GST</div>
              <div class="text-gray-800 font-semibold text-sm">₹{{ tax }}</div>
            </div>
            <div class="flex justify-between border p-2">
              <div class="text-gray-800 font-semibold text-sm">Total Amount (Excl. of all taxes)</div>
              <div class="text-gray-800 font-semibold text-sm">₹{{ grand_total }}</div>
            </div>
          </div>
          <div class="text-center my-6">
            <img src="{% static './images/misc/payments.png' %}" class="h-8 mx-auto" alt="Payment Methods">
          </div>
          <div class="hidden md:block w-full text-white font-semibold py-2 my-2 text-sm bg-black text-center">
            <button type="submit" name="submit" class="w-full">
              PLACE ORDER
            </button>
          </div>
        </div>
        </form>
      </div>
      <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div>
  </section>
</main>
{% endblock %}