{% extends 'base.html' %}
{% load static %}
{% block meta %}
    {% if head.favicon %}
    <link rel="icon" href="{{ head.favicon.url }}" type="image/x-icon">
    {% endif %}
{% endblock meta %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
{% include 'includes/searchbar.html' %}
{% include 'includes/bottomnav.html' %}
<div class="py-16">
    {% include 'includes/search/recent-searches.html' %}
    {% include 'includes/search/top-searches.html' %}
    <h1 class="flex justify-center font-extrabold mb-4">
        TRENDING
    </h1>
    {% include 'includes/home-sections.html' %}
</div>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% include 'includes/footer.html' %}
{% endblock %}