{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->

{% include 'includes/navbar.html' %}
{% include 'includes/home/slider.html' %}
{% include 'store/includes/filter.html' %}

<main class="container mx-auto md:px-2 py-8">
  <section class="py-24 md:py-14">
    <div class="container mx-auto px-4">
      <div class="flex flex-col lg:flex-row gap-8">
        <div class="hidden lg:block lg:w-1/4">
        </div>
        <!-- Main Content -->
        <main class="lg:w-3/4">
          <!-- Product Grid -->
          {% include 'store/includes/product_list.html' %}

          <!-- Loading Spinner -->
          <div id="loading-spinner" class="text-center my-8 hidden">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const gridView2Col = document.getElementById('grid-view-2-col');
    const gridView1Col = document.getElementById('grid-view-1-col');
    const gridView1ColAlt = document.getElementById('grid-view-3-col');
    const productGrid = document.getElementById('product-grid');

    // Load saved layout from local storage
    document.getElementById('subnavbar').classList.remove('hidden');
    const savedLayout = localStorage.getItem('gridLayout');
    if (savedLayout) {
      productGrid.classList.add(savedLayout);
      updateGridLayout(savedLayout);
      updateIconColors(savedLayout);
    }

    // Event listeners for icon clicks
    gridView2Col.addEventListener('click', () => {
      updateGridLayout('grid-cols-2');
    });

    gridView1Col.addEventListener('click', () => {
      updateGridLayout('grid-cols-1');
    });

    gridView1ColAlt.addEventListener('click', () => {
      updateGridLayout('grid-cols-3');
    });

    // Function to update grid layout
    function updateGridLayout(layout) {
      // Remove existing grid classes
      productGrid.classList.remove('grid-cols-1', 'grid-cols-2', 'grid-cols-3');
      // Add the new grid class
      productGrid.classList.add(layout);
      // Save the layout to local storage
      localStorage.setItem('gridLayout', layout);
      // Update icon colors
      updateIconColors(layout);
    }

    // Function to update icon colors based on active layout
    function updateIconColors(layout) {
      const icons = [gridView2Col, gridView1Col, gridView1ColAlt];
      icons.forEach(icon => {
        const path = icon.querySelector('path');
        path.setAttribute('fill', '#808080');
      });

      if (layout === 'grid-cols-2') {
        const path = gridView2Col.querySelector('path');
        path.setAttribute('fill', '#000000');
      }
      else if (layout === 'grid-cols-1') {
        const path = gridView1Col.querySelector('path');
        path.setAttribute('fill', '#000000');
      }
      else if (layout === 'grid-cols-3') {
        const path = gridView1ColAlt.querySelector('path');
        path.setAttribute('fill', '#000000');
      }
    }
  });
  window.addEventListener('scroll', () => {
    let currScroll = window.scrollY;
    document.getElementById('subnavbar').classList.toggle('hidden', currScroll > lastScroll);
    lastScroll = currScroll;
  });
</script>
{% endblock %}